<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <include optional="true" resource="ticho-logback-common.xml"/>

    <!--日志根目录-->
    <property name="log.home" value="./logs/@parent.artifactId@"/>
    <!-- 开发环境、测试环境 -->
    <springProfile name="local,dev,st,uat">
        <!--屏蔽 nacos包下的warn级别以上的日志 -->
        <logger name="com.alibaba.nacos.client.naming" level="INFO" additivity="false"/>
        <!-- Spring日志级别控制  -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.ticho" level="DEBUG"/>
    </springProfile>


    <!-- 生产环境 -->
    <springProfile name="prod">
        <!--屏蔽 nacos包下的warn级别以上的日志 -->
        <logger name="com.alibaba.nacos.client.naming" level="INFO" additivity="false"/>
        <!-- Spring日志级别控制  -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.ticho" level="INFO"/>
    </springProfile>

</configuration>