<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.uaa.mapper.OauthClientDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="OauthClientDetails_map" type="com.ticho.uaa.entity.OauthClientDetails">
        <result column="client_id" property="clientId"/>
        <result column="resource_ids" property="resourceIds"/>
        <result column="client_secret" property="clientSecret"/>
        <result column="scope" property="scope"/>
        <result column="authorized_grant_types" property="authorizedGrantTypes"/>
        <result column="web_server_redirect_uri" property="webServerRedirectUri"/>
        <result column="authorities" property="authorities"/>
        <result column="access_token_validity" property="accessTokenValidity"/>
        <result column="refresh_token_validity" property="refreshTokenValidity"/>
        <result column="additional_information" property="additionalInformation"/>
        <result column="autoapprove" property="autoapprove"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="OauthClientDetails_sql">
        client_id, resource_ids, client_secret, scope, authorized_grant_types, web_server_redirect_uri, authorities, access_token_validity, refresh_token_validity, additional_information, autoapprove, remark, create_by, create_time, update_by, update_time, is_deleted
    </sql>

    <select id="selectByConditions" resultMap="OauthClientDetails_map">
        SELECT
        <include refid="OauthClientDetails_sql"/>
        FROM oauth_client_details
        <where>
            <if test="clientId!=null">and client_id=#{clientId}</if>
            <if test="resourceIds!=null">and resource_ids=#{resourceIds}</if>
            <if test="clientSecret!=null">and client_secret=#{clientSecret}</if>
            <if test="scope!=null">and scope=#{scope}</if>
            <if test="authorizedGrantTypes!=null">and authorized_grant_types=#{authorizedGrantTypes}</if>
            <if test="webServerRedirectUri!=null">and web_server_redirect_uri=#{webServerRedirectUri}</if>
            <if test="authorities!=null">and authorities=#{authorities}</if>
            <if test="accessTokenValidity!=null">and access_token_validity=#{accessTokenValidity}</if>
            <if test="refreshTokenValidity!=null">and refresh_token_validity=#{refreshTokenValidity}</if>
            <if test="additionalInformation!=null">and additional_information=#{additionalInformation}</if>
            <if test="autoapprove!=null">and autoapprove=#{autoapprove}</if>
            <if test="remark!=null">and remark=#{remark}</if>
            <if test="createBy!=null">and create_by=#{createBy}</if>
            <if test="createTime!=null">and create_time=#{createTime}</if>
            <if test="updateBy!=null">and update_by=#{updateBy}</if>
            <if test="updateTime!=null">and update_time=#{updateTime}</if>
            <if test="isDeleted!=null">and is_deleted=#{isDeleted}</if>
        </where>
    </select>
</mapper>
