<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.DictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DictType_map" type="com.ticho.upms.infrastructure.entity.DictType">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="is_sys" property="isSys"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="DictType_sql">
        id, `code`, `name`, is_sys, remark, version, create_by, create_time, update_by, update_time, is_delete
    </sql>


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dict_type (id, `code`, `name`, is_sys, remark, version, create_by, create_time, update_by, update_time, is_delete) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.id},#{item.code},#{item.name},#{item.isSys},#{item.remark},#{item.version},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.isDelete})
        </foreach>
    </insert>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_dict_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null and code != ''">`code`,</if>
            <if test="name != null and name != ''">`name`,</if>
            <if test="isSys != null">is_sys,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="version != null">version,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id !=null">#{id},</if>
            <if test="code !=null and code != ''">#{code},</if>
            <if test="name !=null and name != ''">#{name},</if>
            <if test="isSys !=null">#{isSys},</if>
            <if test="remark !=null and remark != ''">#{remark},</if>
            <if test="version !=null">#{version},</if>
            <if test="createBy !=null and createBy != ''">#{createBy},</if>
            <if test="createTime !=null">#{createTime},</if>
            <if test="updateBy !=null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime !=null">#{updateTime},</if>
            <if test="isDelete !=null">#{isDelete},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
            <if test="id != null">id = values(id),</if>
            <if test="code != null and code != ''">`code` = values(`code`),</if>
            <if test="name != null and name != ''">`name` = values(`name`),</if>
            <if test="isSys != null">is_sys = values(is_sys),</if>
            <if test="remark != null and remark != ''">remark = values(remark),</if>
            <if test="version != null">version = values(version),</if>
            <if test="createBy != null and createBy != ''">create_by = values(create_by),</if>
            <if test="createTime != null">create_time = values(create_time),</if>
            <if test="updateBy != null and updateBy != ''">update_by = values(update_by),</if>
            <if test="updateTime != null">update_time = values(update_time),</if>
            <if test="isDelete != null">is_delete = values(is_delete)</if>
    </insert>

    <insert id="insertOrUpdateBatch" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dict_type (id, `code`, `name`, is_sys, remark, version, create_by, create_time, update_by, update_time, is_delete) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.id},#{item.code},#{item.name},#{item.isSys},#{item.remark},#{item.version},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.isDelete})
        </foreach>
        ON DUPLICATE KEY UPDATE
        id = values(id),
        `code` = values(`code`),
        `name` = values(`name`),
        is_sys = values(is_sys),
        remark = values(remark),
        version = values(version),
        create_by = values(create_by),
        create_time = values(create_time),
        update_by = values(update_by),
        update_time = values(update_time),
        is_delete = values(is_delete)
    </insert>

    <select id="selectByConditions" resultMap="DictType_map">
        SELECT
        <include refid="DictType_sql"/>
        FROM sys_dict_type
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="code != null">and `code`=#{code}</if>
            <if test="name != null">and `name`=#{name}</if>
            <if test="isSys != null">and is_sys=#{isSys}</if>
            <if test="remark != null">and remark=#{remark}</if>
            <if test="version != null">and version=#{version}</if>
            <if test="createBy != null">and create_by=#{createBy}</if>
            <if test="createTime != null">and create_time=#{createTime}</if>
            <if test="updateBy != null">and update_by=#{updateBy}</if>
            <if test="updateTime != null">and update_time=#{updateTime}</if>
            <if test="isDelete != null">and is_delete=#{isDelete}</if>
        </where>
    </select>
</mapper>
