<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Menu_map" type="com.ticho.upms.infrastructure.entity.Menu">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="structure" property="structure"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="redirect" property="redirect"/>
        <result column="ext_flag" property="extFlag"/>
        <result column="cache_able" property="cacheAble"/>
        <result column="invisible" property="invisible"/>
        <result column="closable" property="closable"/>
        <result column="icon" property="icon"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Menu_sql">
        id, parent_id, structure, `type`, `name`, path, component, redirect, ext_flag, cache_able, invisible, closable, icon, sort, `status`, remark, version, create_by, create_time, update_by, update_time, is_delete
    </sql>

    <select id="selectByConditions" resultMap="Menu_map">
        SELECT
        <include refid="Menu_sql"/>
        FROM sys_menu
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="parentId != null">and parent_id=#{parentId}</if>
            <if test="structure != null">and structure=#{structure}</if>
            <if test="type != null">and `type`=#{type}</if>
            <if test="name != null">and `name`=#{name}</if>
            <if test="path != null">and path=#{path}</if>
            <if test="component != null">and component=#{component}</if>
            <if test="redirect != null">and redirect=#{redirect}</if>
            <if test="extFlag != null">and ext_flag=#{extFlag}</if>
            <if test="cacheAble != null">and cache_able=#{cacheAble}</if>
            <if test="invisible != null">and invisible=#{invisible}</if>
            <if test="closable != null">and closable=#{closable}</if>
            <if test="icon != null">and icon=#{icon}</if>
            <if test="sort != null">and sort=#{sort}</if>
            <if test="status != null">and `status`=#{status}</if>
            <if test="remark != null">and remark=#{remark}</if>
            <if test="version != null">and version=#{version}</if>
            <if test="createBy != null">and create_by=#{createBy}</if>
            <if test="createTime != null">and create_time=#{createTime}</if>
            <if test="updateBy != null">and update_by=#{updateBy}</if>
            <if test="updateTime != null">and update_time=#{updateTime}</if>
            <if test="isDelete != null">and is_delete=#{isDelete}</if>
        </where>
    </select>

</mapper>
