<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.OpLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="OpLog_map" type="com.ticho.upms.infrastructure.entity.OpLog">
        <result column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="method" property="method"/>
        <result column="params" property="params"/>
        <result column="message" property="message"/>
        <result column="total_time" property="totalTime"/>
        <result column="ip" property="ip"/>
        <result column="operate_by" property="operateBy"/>
        <result column="operate_time" property="operateTime"/>
        <result column="is_err" property="isErr"/>
        <result column="err_message" property="errMessage"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="OpLog_sql">
        id, url, `type`, method, params, message, total_time, ip, operate_by, operate_time, is_err, err_message
    </sql>

    <select id="selectByConditions" resultMap="OpLog_map">
        SELECT
        <include refid="OpLog_sql"/>
        FROM sys_op_log
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="url != null">and url=#{url}</if>
            <if test="type != null">and `type`=#{type}</if>
            <if test="method != null">and method=#{method}</if>
            <if test="params != null">and params=#{params}</if>
            <if test="message != null">and message=#{message}</if>
            <if test="totalTime != null">and total_time=#{totalTime}</if>
            <if test="ip != null">and ip=#{ip}</if>
            <if test="operateBy != null">and operate_by=#{operateBy}</if>
            <if test="operateTime != null">and operate_time=#{operateTime}</if>
            <if test="isErr != null">and is_err=#{isErr}</if>
            <if test="errMessage != null">and err_message=#{errMessage}</if>
        </where>
    </select>

</mapper>
