<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Role_map" type="com.ticho.upms.infrastructure.entity.Role">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Role_sql">
        id, `code`, `name`, tenant_id, remark, version, create_by, create_time, update_by, update_time, is_delete
    </sql>

    <select id="selectByConditions" resultMap="Role_map">
        SELECT
        <include refid="Role_sql"/>
        FROM sys_role
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="code != null">and `code`=#{code}</if>
            <if test="name != null">and `name`=#{name}</if>
            <if test="tenantId != null">and tenant_id=#{tenantId}</if>
            <if test="remark != null">and remark=#{remark}</if>
            <if test="version != null">and version=#{version}</if>
            <if test="createBy != null">and create_by=#{createBy}</if>
            <if test="createTime != null">and create_time=#{createTime}</if>
            <if test="updateBy != null">and update_by=#{updateBy}</if>
            <if test="updateTime != null">and update_time=#{updateTime}</if>
            <if test="isDelete != null">and is_delete=#{isDelete}</if>
        </where>
    </select>

</mapper>
