<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.RoleFuncMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="RoleFunc_map" type="com.ticho.upms.infrastructure.entity.RoleFunc">
        <result column="role_id" property="roleId"/>
        <result column="func_id" property="funcId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="RoleFunc_sql">
        role_id, func_id
    </sql>


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="role_id">
        insert into sys_role_func (role_id, func_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.roleId},#{item.funcId})
        </foreach>
    </insert>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="role_id">
        INSERT INTO sys_role_func
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="funcId != null">func_id,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="roleId !=null">#{roleId},</if>
            <if test="funcId !=null">#{funcId},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
            <if test="roleId != null">role_id = values(role_id),</if>
            <if test="funcId != null">func_id = values(func_id)</if>
    </insert>

    <insert id="insertOrUpdateBatch" useGeneratedKeys="true" keyProperty="role_id">
        insert into sys_role_func (role_id, func_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.roleId},#{item.funcId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        role_id = values(role_id),
        func_id = values(func_id)
    </insert>

    <select id="selectByConditions" resultMap="RoleFunc_map">
        SELECT
        <include refid="RoleFunc_sql"/>
        FROM sys_role_func
        <where>
            <if test="roleId != null">and role_id=#{roleId}</if>
            <if test="funcId != null">and func_id=#{funcId}</if>
        </where>
    </select>
</mapper>
