<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.RoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="RoleMenu_map" type="com.ticho.upms.infrastructure.entity.RoleMenu">
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="RoleMenu_sql">
        role_id, menu_id
    </sql>


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="role_id">
        insert into sys_role_menu (role_id, menu_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="role_id">
        INSERT INTO sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="menuId != null">menu_id,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="roleId !=null">#{roleId},</if>
            <if test="menuId !=null">#{menuId},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
            <if test="roleId != null">role_id = values(role_id),</if>
            <if test="menuId != null">menu_id = values(menu_id)</if>
    </insert>

    <insert id="insertOrUpdateBatch" useGeneratedKeys="true" keyProperty="role_id">
        insert into sys_role_menu (role_id, menu_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        role_id = values(role_id),
        menu_id = values(menu_id)
    </insert>

    <select id="selectByConditions" resultMap="RoleMenu_map">
        SELECT
        <include refid="RoleMenu_sql"/>
        FROM sys_role_menu
        <where>
            <if test="roleId != null">and role_id=#{roleId}</if>
            <if test="menuId != null">and menu_id=#{menuId}</if>
        </where>
    </select>
</mapper>
