<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.RoleResMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="RoleRes_map" type="com.ticho.upms.infrastructure.entity.RoleRes">
        <result column="role_id" property="roleId"/>
        <result column="res_id" property="resId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="RoleRes_sql">
        role_id, res_id
    </sql>


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="res_id">
        insert into sys_role_res (role_id, res_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.roleId},#{item.resId})
        </foreach>
    </insert>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="res_id">
        INSERT INTO sys_role_res
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null and roleId != ''">role_id,</if>
            <if test="resId != null and resId != ''">res_id,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="roleId !=null and roleId != ''">#{roleId},</if>
            <if test="resId !=null and resId != ''">#{resId},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
            <if test="roleId != null and roleId != ''">role_id = values(role_id),</if>
            <if test="resId != null and resId != ''">res_id = values(res_id)</if>
    </insert>

    <insert id="insertOrUpdateBatch" useGeneratedKeys="true" keyProperty="res_id">
        insert into sys_role_res (role_id, res_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.roleId},#{item.resId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        role_id = values(role_id),
        res_id = values(res_id)
    </insert>

    <select id="selectByConditions" resultMap="RoleRes_map">
        SELECT
        <include refid="RoleRes_sql"/>
        FROM sys_role_res
        <where>
            <if test="roleId != null">and role_id=#{roleId}</if>
            <if test="resId != null">and res_id=#{resId}</if>
        </where>
    </select>
</mapper>
