<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="User_map" type="com.ticho.upms.infrastructure.entity.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="realname" property="realname"/>
        <result column="idcard" property="idcard"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="address" property="address"/>
        <result column="education" property="education"/>
        <result column="email" property="email"/>
        <result column="qq" property="qq"/>
        <result column="wechat" property="wechat"/>
        <result column="mobile" property="mobile"/>
        <result column="photo" property="photo"/>
        <result column="last_ip" property="lastIp"/>
        <result column="last_time" property="lastTime"/>
        <result column="status" property="status"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="User_sql">
        id, username, `password`, nickname, realname, idcard, sex, age, birthday, address, education, email, qq, wechat, mobile, photo, last_ip, last_time, `status`, tenant_id, remark, version, create_by, create_time, update_by, update_time, is_delete
    </sql>

    <select id="selectByConditions" resultMap="User_map">
        SELECT
        <include refid="User_sql"/>
        FROM sys_user
        <where>
            <if test="id != null">and id=#{id}</if>
            <if test="username != null">and username=#{username}</if>
            <if test="password != null">and `password`=#{password}</if>
            <if test="nickname != null">and nickname=#{nickname}</if>
            <if test="realname != null">and realname=#{realname}</if>
            <if test="idcard != null">and idcard=#{idcard}</if>
            <if test="sex != null">and sex=#{sex}</if>
            <if test="age != null">and age=#{age}</if>
            <if test="birthday != null">and birthday=#{birthday}</if>
            <if test="address != null">and address=#{address}</if>
            <if test="education != null">and education=#{education}</if>
            <if test="email != null">and email=#{email}</if>
            <if test="qq != null">and qq=#{qq}</if>
            <if test="wechat != null">and wechat=#{wechat}</if>
            <if test="mobile != null">and mobile=#{mobile}</if>
            <if test="photo != null">and photo=#{photo}</if>
            <if test="lastIp != null">and last_ip=#{lastIp}</if>
            <if test="lastTime != null">and last_time=#{lastTime}</if>
            <if test="status != null">and `status`=#{status}</if>
            <if test="tenantId != null">and tenant_id=#{tenantId}</if>
            <if test="remark != null">and remark=#{remark}</if>
            <if test="version != null">and version=#{version}</if>
            <if test="createBy != null">and create_by=#{createBy}</if>
            <if test="createTime != null">and create_time=#{createTime}</if>
            <if test="updateBy != null">and update_by=#{updateBy}</if>
            <if test="updateTime != null">and update_time=#{updateTime}</if>
            <if test="isDelete != null">and is_delete=#{isDelete}</if>
        </where>
    </select>

</mapper>
