<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticho.upms.infrastructure.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="UserRole_map" type="com.ticho.upms.infrastructure.entity.UserRole">
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="UserRole_sql">
        user_id, role_id
    </sql>


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="user_id">
        insert into sys_user_role (user_id, role_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userId !=null">#{userId},</if>
            <if test="roleId !=null">#{roleId},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
            <if test="userId != null">user_id = values(user_id),</if>
            <if test="roleId != null">role_id = values(role_id)</if>
    </insert>

    <insert id="insertOrUpdateBatch" useGeneratedKeys="true" keyProperty="user_id">
        insert into sys_user_role (user_id, role_id) values
        <foreach collection="ew" item="item" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        user_id = values(user_id),
        role_id = values(role_id)
    </insert>

    <select id="selectByConditions" resultMap="UserRole_map">
        SELECT
        <include refid="UserRole_sql"/>
        FROM sys_user_role
        <where>
            <if test="userId != null">and user_id=#{userId}</if>
            <if test="roleId != null">and role_id=#{roleId}</if>
        </where>
    </select>
</mapper>
